.items2{
    background-color: rgb(23, 41, 58);
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
}


#p1{
    
    font-size: 22px;
    margin-top: 25px;
    grid-row-start: 1;
    font-weight: bold;
}

#p2{
    color: black;
    font-size: 13px;
    grid-row-start: 3;
}

.boxBlue{
    border: 2px solid blue;
    color: blue;
    text-align: center;
    display: grid;
}

.boxYellow{
    border: 2px solid yellow;
    color: yellow;
    text-align: center;
    display: grid;
}
 
.boxYellow:nth-child(3){
    grid-column: 7/ 8;
}
.boxYellow:nth-child(24){
    grid-column: 2/ 3;
}

