
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
    font-style: italic;
}
.wrapper{
    position: relative;
    max-width: 1920px;
    background:#FFFFFF;
    margin: 0 auto;
}

.main{
    max-width: 1296px;
    margin: 0 auto;
}
/* ===== header ========= */
.topLine{
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; 
    padding: 2%;
}
#lamp{
    width: 74px;
    height: 74px;
}
.icon{
    height: 24px;  
    display: flex;
    gap: 30px;
}
.icon img{
    width: 24px;
    cursor: pointer;
}
 button{
    cursor: pointer;
 }
/* ======= end header ============ */

/* ====== block 1 ================ */
.block1{
    max-width: 1923px;
    height: 701px;
    top: 90px;
    background: #4FBFA5;
    padding: 1%;
}

.header_block1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.menu-list{
    display: flex;
    gap: 10%;
    color: white;
    font-size: 18px;
}
.menu-list li {
    list-style-type: none;
    cursor: pointer;
}

#contact{
    width: 194px;
    height: 42;
    padding: 10px;
    background-color: FFFFFF;
}
.block1_body{
    display: flex;
    max-width: 1923px;
    height: 701px;
    justify-content: space-between;
}

.title{
    width: 416px;
    height: 266px;
    font-size: 21px;
    line-height: 150%;
    color: white;
    padding-top: 185px;
}
.title_p{
    margin-top: 20px;
    margin-bottom: 40px;
}
.h1{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
}
.block_1_img{
    margin-top: 50px;
    width: 100%;
    
}
.btn_block_1{
    font-size: 18px;
    color: white;
    line-height: 21px;
    letter-spacing: 0.05em;
    background: #00868A;
    text-transform: uppercase;
    padding: 15px 25px;
}

/* ====== block2 ========= */

h2{
    font-family: 'ABeeZee';
    font-style: italic;
    font-weight: 400;
    font-size: 48px;
    line-height: 150%;
    text-align: center;
    color: #00868A;
    margin-top: 146px;
    margin-bottom: 60px;
}
.items{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#os{
    width: 100%;
    height: 234px;
}
.item1{
    width: 306px;
    display: flex;
    flex-direction: column;
}
#butt{
    width: 50px;
    height: 40px;
    cursor: pointer;
}
.item_title{
    background-color: #00868A;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 0;
}
.item_title p{
    color: white;
    width: 30%;
}
/* ===== footer ============ */

.footer{
    margin-top: 128px;
    margin-bottom: 64px;
    display: flex;
    justify-content: flex-end;
    gap: 56px;
}

.footer img{
    cursor: pointer;
}

@media(max-width: 1240px){
    .items{
        padding: 2%;
        display: grid;
        grid-template-columns: 320px 320px;
        gap: 2%;
        justify-content: center;
    }
    
}
@media(max-width: 1065px){
    .btn_block_1_img{
       width: 500px;
       height: 250px;
    }
}