.container {
    margin: 0 auto;
    @include x-large {
        max-width: 1170px;
    }
    @include big-screen {
        max-width: 992px;
    }
    @include medium-screen {
        max-width: 800px;
    }
    @include small-screen {
        max-width: 580px;
    }
    @include x-small {
        max-width: 100%;
        padding: 15px;
    }
}
