$numbers:1400px;

$blue-color:#002D69;
$color-foot-menu: #53585F;

$size-continer: 100%;
$margin: 30px 0 30px 0;
$margin-left: 30px 0 30px 70px;


$text-Oswald: 'Oswald', sans-serif;
$text-Lato: 'Lato', sans-serif;
    

