.companies-logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 140px;
    .social-media {
        width:670px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        gap: 43px;
        @include medium-screen {
            width: 480px;
            height: auto;
            flex-wrap:wrap;
            margin:0 20px;
        }
    }
    
}