// text-colors
$nav-link: #fff;
$text-color: #81AFDD;

// bg-colors
$btn-bg:#FF4820;
$blue-bg:#042C54;
$header-input:#052D56;
$body-bg: #040c18;
$gradient:linear-gradient(#AE67FA, #F49867);


$centr: 0 auto;